body{
    background-color: #1c1e1f;
    color:#FFFFFF ;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: center;
}
.imgProfile{
    display: block;
    width: 300px;
    margin: 25px auto;
    transition-duration: 0.6s;
}
.imgProfile:hover{
    box-shadow: 0 0 2rem #D22121;
}
.imgProfile:active{
    box-shadow: none;
    border: 4px solid #D22121;
    border-radius: 125px;
}
.navbar{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.section{
    width: 1000px;
    margin:  25px auto;
}
.section h3{
    color: #D02121;
    transition-duration: 0.3s;
}
.section h3:hover{
    text-shadow: 0 0 0.6rem #D02121;;
}
.programmingView:nth-child(2){
    display: none;
}
.TableSkills{
    margin: auto;
    width: 800px;
}
.TableSkills th {
    box-shadow: 0 0 0.6rem #D02121;
}
.TableSkills tr:first-child{
    font-size: 30px;
}
tr:nth-child(even){
    background-color: gray;
}
.languages{
    display: flex;
    flex-wrap: wrap;
}
.languages div{
    flex: 1;
}
.icon{
    width: 70px;
    filter: invert(1);
}
.icon:hover{
    filter: invert(0);
}
.jobSection{
    display: flex;
    flex-wrap: wrap;
}
.jobContainer{
    flex: 1;
    flex-wrap: wrap;
    list-style: none;
    box-shadow: 0 0 0.6rem #D02121;
    margin: 15px;
    transition-duration: .8s;
}
.jobContainer:hover{
    box-shadow: 0 0 5rem #D02121;
}
.imgJob{
    width: 450px;
    height: 250px;
    border-radius: 10px;
    transition-duration: 0.7s;
}
.seperator{
    color: #535556;
}
hr{
    border: 1px solid #535556;
}
footer {
    display: flex;
    background-color: black;
    height: 150px;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
}
footer p {
    margin: 50px;
}
footer a {
    margin: 50px;
}
a{
    color: inherit;
    text-decoration: none;
}
a:visited{
    color: inherit;
}
a:hover{
    text-shadow: 0 0 0.8rem #D02121;
    text-decoration: underline ;
}
@media screen and (min-width: 700px) and (max-width: 1100px) {

    .section{
        width: 600px;
    }
    .TableSkills{
        width: 500px;
    }
    .imgJob{
        width: 350px;
    }
}
@media screen and (min-width: 480px) and (max-width: 700px) {

    .section{
        width: 400px;
    }
    .TableSkills{
        width: 350px;
    }
    .imgJob{
        width: 250px;
    }
}

@media screen and (max-width: 480px) {

    body{
        font-size: 18px;
    }
    .navbar {
        font-size: 20px;
        margin: 10px;
    }
    .section{
        width: 350px;
        margin: 20px auto;
    }
    .languages{
        flex-direction: column;
    }
    .languages div{
        height: 200px;
        margin: 20px
    }
    .jobSection{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .imgJob{
        width: 250px;
        height: 130px;
    }
    .programmingView:nth-child(1){
        display: none;
    }
    .programmingView:nth-child(2){
        display: block;
    }
    footer p {
        margin: 20px;
    }
    footer a{
        margin: 20px;
    }
}
