body{
    background-image: url('Images/background.gif');
    background-size: cover;
    margin: 0;
    font-size: 50px;
    font-family: 'VT323', monospace;
    color: whitesmoke;
}
.navbar{
    margin: 0;
    height: 100px;
}
.navbar div {
    display: flex;
    flex: 1;
    justify-content: space-around;
}
.section {
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section div {
    flex: 1;
}
a{
    font-size: 64px;
    text-decoration: none;
    color: inherit;
    margin: 20px;
}
a:visited{
    color: whitesmoke;
}
a:hover{
    text-decoration: underline ;
}
@media screen and (max-width: 480px) {
    body {
        font-size: 28px;
    }
    .navbar{
        margin-top: 75px;
    }
    .navbar div:first-child{
        display: none;
    }
    .section{
        margin: 0;
    }
    .section div:nth-child(2){
        display: none;
    }
    a{
        font-size: 40px;
    }
}