body{
    margin: 0;
    font-family: "Yu Mincho", serif;
}
.navbar{
    background-color: lightgray;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    border-bottom: 2px dashed lightslategray;
}
main{
    text-align: left;
    justify-content: center;
    margin: 100px 25px 25px 25px;
}
.section{
    max-width: 1100px;
    margin: 0 auto 50px auto;
}
.imgLogboek{
    display: block;
    margin: auto;
    width: 800px;
    transition-duration: 1.5s;
}
.imgLogboek:hover{
    width: 1000px;
}
.profileRoles{
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
}
.roles{
    margin: 5px;
    padding: 5px;
    background-color: lightgray;
    width: 450px;
}
.roles:last-child{
    width: 920px;
}
