body{
    margin: 0;
    font-family: "Yu Mincho", serif;
}
.navbar{
    background-color: darkgray;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-bottom: 2px dashed lightslategray;
}
main{
    text-align: left;
    justify-content: center;
    margin: 50px 25px 25px 100px;
}
.section{
    max-width: 1000px;
    margin: 0 auto 50px auto;
}
.section:last-child{
    margin-bottom: 100px;
}
.imgLogboek{
    display: block;
    margin: auto;
    width: 750px;
    transition-duration: 1.5s;
}
.imgLogboek:hover{
    width: 850px;
}
.profileRoles{
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
}
.roles{
    flex-grow: 2;
    margin: 5px;
    padding: 5px;
    background-color: lightgray;
    width: 450px;
}
.examples{
    font-weight: bold;
}
